.toolbar {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center; /* Updated: Center the content horizontally */
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}
.spacer {
  flex: 1;
}

.menu {
  padding: 0% 33% 0% 0%;
  margin-left: 20px;

}

.toolbar-menu {
  color: black;
}

.toolbar-menu.sticky-header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.nav-item a.active {
  font-weight: bold;
  color: black;
  /* Add any other styles you want to apply */
}

.toolbar-menu + mat-toolbar {
  margin-top: 64px; /* Adjust the margin-top value according to the height of your sticky header */
}

.toolbar-two-menu.sticky-header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.toolbar-two-menu + mat-toolbar {
  margin-top: 64px; /* Adjust the margin-top value according to the height of your sticky header */
}

.flex-container {

  display: flex;

}

.search-container {
  padding-top: 21px;
  justify-content: center;
}

.mat-form-field {
  width: 100%;
}

.mat-form-field .mat-input-element {
  font-size: 18px; /* Adjust the font size as desired */
  padding: 10px; /* Adjust the padding as desired */
}

.centered-text {
  text-align: center;
}

@keyframes flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flashing {
  animation: flashing 1s infinite;
  text-align: center;
  width: 100%;
}
.total-item-round {
  width: 14px;
  position: absolute;
  height: 14px;
  line-height: 14px;
  border-radius: 50%;
  text-align: center;
  font-size: 11px;
  background-color: #ff4500;
  padding-bottom: 2%;
  color: #ffffff; }
