<mat-toolbar class="toolbar-menu" [ngClass]="{'sticky-header': isSticky}">
  <span class="admin-dashboard" routerLink="/platform/dashboard" routerLinkActive="active-link">
    <img src="assets/images/logos/rsz_1byteservices2.png" width="120px" height="30px">
  </span>
  <span class="spacer"></span>

  <div class="flex-container">
    <div class="search-container">
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Search" />
      </mat-form-field>
    </div>
  </div>

  <div class="icon-container">
    <button mat-icon-button class="icon-button" aria-label="Notifications">
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button class="icon-button" aria-label="Messages" routerLink="/platform/inbox" routerLinkActive="active-link">
      <mat-icon>message</mat-icon>
    </button>
    <button mat-icon-button class="icon-button" aria-label="Settings" routerLink="/platform/settings" routerLinkActive="active-link">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="icon-button" aria-label="Account" [matMenuTriggerFor]="profileMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
  <mat-menu #profileMenu="matMenu">
    <a mat-menu-item routerLink="/platform/profile" routerLinkActive="active-link">Profile</a>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>

<mat-toolbar class="toolbar-two-menu" color="warn" [ngClass]="{'sticky-header': isSticky}">
  <button mat-icon-button (click)="toggleSidenav()" class="menu-icon" aria-label="Toggle" #sidenav>
    <mat-icon>menu</mat-icon>
  </button>
  <div class="menu">
    <a routerLink="/newarrivals" style="padding: 15px">New Arrivals</a>
    <a routerLink="/todaydeals" style="padding: 15px">Todays Deals</a>
    <a routerLink="/products" style="padding: 15px">Products</a>
    <a routerLink="/about-us" style="padding: 15px">About Us</a>
    <a routerLink="/contact-us" style="padding: 15px">Contact Us</a>
  </div>
  <span class="spacer"></span>
  <mat-menu #profileMenu="matMenu">
    <a mat-menu-item routerLink="/platform/profile" routerLinkActive="active-link">Profile</a>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" [opened]="true">
    <mat-nav-list>
      <a mat-list-item routerLink="/platform/wagers" routerLinkActive="active-link">
        <mat-icon style="margin: 2px 0px -5px 0px">attach_money</mat-icon>
        <span style="padding: 10px 10px 10px 12px">Wagers</span>
      </a>
      <a mat-list-item routerLink="/platform/dashboard" routerLinkActive="active-link">
        <mat-icon style="margin: 2px 0px -5px 0px">home</mat-icon>
        <span style="padding: 10px 10px 10px 12px">Dashboard</span>
      </a>
      <a mat-list-item routerLink="/platform/users" routerLinkActive="active-link">
        <mat-icon style="margin: 2px 0px -5px 0px">people</mat-icon>
        <span style="padding: 10px 10px 10px 12px">Users</span>
      </a>
      <a mat-list-item routerLink="/platform/profile" routerLinkActive="active-link">
        <mat-icon style="margin: 2px 0px -5px 0px">person</mat-icon>
        <span style="padding: 10px 10px 10px 12px">Profile</span>
      </a>
      <a mat-list-item routerLink="/platform/settings" routerLinkActive="active-link">
        <mat-icon style="margin: 2px 0px -5px 0px">settings</mat-icon>
        <span style="padding: 10px 10px 10px 12px">Settings</span>
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
