<nav class="navbar navbar-expand-lg bg-black" >
  <div class="container-fluid" style="color: white">
    <div style="display: flex; align-items: center;">
      <mat-icon>mail_outline</mat-icon>
      <div style="font-size: 12px;">info@denimvibe.co.za</div>
      <i class="fas fa-phone-volume"></i>
      <span style="font-size: 12px;">+27813355425</span>
    </div>
    <div class="collapse navbar-collapse" id="topNavBar">
      <div class="centered-text flashing">30% OFF ON ALL PRODUCTS NOW ONLY
      </div>
      <div style="display: flex; align-items: center;">
        <button mat-icon-button class="icon-button" aria-label="Home" style="order: 1;">
          <mat-icon>home_outline</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" aria-label="Cart" style="order: 3;">
          <i class="fas fa-shopping-bag">
            <span class="total-item-round">2</span>
          </i>
        </button>
        <button mat-icon-button class="icon-button" aria-label="Favorite" style="order: 2;">
          <mat-icon>favorite_outline</mat-icon>
        </button>

      </div>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg aspect--bg-grey">
  <div class="container-fluid">
     <span class="admin-dashboard" routerLink="/platform/dashboard" routerLinkActive="active-link">
    <img src="assets/images/logos/1.svg" width="150px" height="120px">
  </span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/newarrivals" style="padding: 15px;color: black">New Arrivals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/todaydeals" style="padding: 15px;color: black">Today's Deals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" style="padding: 15px;color: black">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us" style="padding: 15px;color: black">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us" style="padding: 15px;color: black">Contact Us</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div class="icon-container">
        <button mat-icon-button class="icon-button" aria-label="Account">
          <mat-icon>mail_outline</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" aria-label="Account">
          <mat-icon>account_circle_outline</mat-icon>
        </button>
      </div>
    </div>
  </div>
</nav>
