<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <h5 >Contact-Us</h5>
        <div class="outer-footer__content">
          <div class="outer-footer__text-wrap"><i class="fas fa-home"></i>
            <span style="font-size: 14px;">20 Birkenhead str, Land En Zeezicht Somerset West, WC, South Africa</span>
          </div>
          <div class="outer-footer__text-wrap"><i class="fas fa-phone-volume"></i>
            <span style="font-size: 14px;">(+27) 81 335 5 782</span>
          </div>
          <div class="outer-footer__text-wrap"><i class="far fa-envelope"></i>
            <span style="font-size: 14px;">randallerasmus1@gmail.com</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5>Information</h5>
        <p style="font-size: 14px; cursor: pointer" routerLink="/cart">Cart</p>
        <p style="font-size: 14px; cursor: pointer" routerLink="/dashboard">Account</p>
        <p style="font-size: 14px; cursor: pointer">Manufacturer</p>
        <p style="font-size: 14px; cursor: pointer" routerLink="/mypaymentoptions">Finance</p>
        <p style="font-size: 14px; cursor: pointer" routerLink="/products">Shop</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5 >Our Company</h5>
        <p style="font-size: 14px; cursor: pointer" routerLink="/aboutus">About us</p>
        <p style="font-size: 14px; cursor: pointer" routerLink="/contactus">Contact Us</p>
        <p style="font-size: 14px; cursor: pointer">Sitemap</p>
        <p style="font-size: 14px; cursor: pointer">Delivery</p>
        <p style="font-size: 14px; cursor: pointer">Store</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h4 style="font-size: 14px;">Join our Newsletter</h4>
        <div class="form-group">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" value="male" id="maleRadio">
            <label class="form-check-label" for="maleRadio" style="font-size: 14px;">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" value="female" id="femaleRadio">
            <label class="form-check-label" for="femaleRadio" style="font-size: 14px;">Female</label>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter your Email" name="subject" style="font-size: 14px;">
            <div class="input-group-append">
              <button class="btn" style="color: white; background-color: #FF4500;border-radius: unset" type="button">SUBSCRIBE</button>
            </div>
          </div>
          <p style="font-size: 13px;padding-top: 1%">Subscribe to the mailing list to receive updates on promotions, new arrivals, discounts, and coupons.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="footer-row2">
          <p class="text-center" style="font-size: 14px;padding-top: 2%">Copyrights © 2023 Randall Erasmus All Right Reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
