  <footer class="footer">
    <div class="footer-space">
    <div class="footer-row1 mat-elevation-z2">
      <div class="footer-column">
        <h4>Contact Us</h4>
        <div class="outer-footer__content u-s-m-b-40">

          <div class="outer-footer__text-wrap"><i class="fas fa-home"></i>

            <span>20 Birkenhead str, Land En Zeezicht Somerset West, CT, SA</span></div>
          <div class="outer-footer__text-wrap"><i class="fas fa-phone-volume"></i>

            <span>(+27) 81 335 5 782</span></div>
          <div class="outer-footer__text-wrap"><i class="far fa-envelope"></i>

            <span>randallerasmus1@gmail.com</span>
          </div>

        </div>
      </div>
      <div class="footer-column">
        <h4>Information</h4>
        <p>Cart</p>
        <p>Account</p>
        <p>Manufacturer</p>
        <p>Finance</p>
        <p>Shop</p>
      </div>
      <div class="footer-column">
        <h4>Our Company</h4>
        <p>About us</p>
        <p>Contact Us</p>
        <p>Sitemap</p>
        <p>Delivery</p>
        <p>Store</p>
      </div>
      <div class="footer-column">
        <h4>Join our Newsletter</h4>
        <input type="radio" name="gender" value="male"> Male
        <input type="radio" name="gender" value="female"> Female

    </div>

    </div>

    </div>

      <div class="footer-row2">
        <p>Copyright © 2018 Reshop All Right Reserved</p>
      </div>

  </footer>


