<app-header></app-header>
<mat-card>
  <img [src]="images[currentIndex]" alt="Slideshow Image" class="slideshow-image" />
  <div class="slideshow-text">
    <div class="col-12">
      <div class="slider-content slider-content--animation">

        <span class="content-span-1 u-c-white">Find Top Brands</span>

        <span class="content-span-2 u-c-white">10% Off On Electronics</span>

        <span class="content-span-3 u-c-white">Find electronics on best prices, Also Discover most selling products of electronics</span>

        <span class="content-span-4 u-c-white">Starting At

                                            <span class="u-c-brand">$380.00</span></span>

        <a class="shop-now-link btn--e-brand" href="shop-side-version-2.html">SHOP NOW</a></div>
    </div>
  </div>


</mat-card>


<app-footer></app-footer>
