<app-header></app-header>
<mat-card>
  <img [src]="images[currentIndex]" alt="Slideshow Image" class="slideshow-image" />
  <div class="slideshow-text">
    <div class="slider-content">
           <a class="shop-now-link btn--e-brand"  href="shop-side-version-2.html">SHOP NOW</a></div>
  </div>
</mat-card>
<div class="heading">
  <h2 style="padding-top: 40px">SHOP BY DEALS</h2>
  <mat-divider></mat-divider>
  <p style="padding: 40px;color: gray">BROWSE FAVOURITE DEALS</p>
</div>
<div class="card-container">
  <mat-card class="example-card" >
    <div class="zoom-container">
      <img src="assets/images/logos/homeSlide2.jpg" width="1900" height="1200px">
    </div>
  </mat-card>

  <mat-card class="example-card">
    <div class="zoom-container">
      <img src="assets/images/logos/homeSlide6.jpg">
    </div>
  </mat-card>

  <mat-card class="example-card">
    <div class="zoom-container">
      <img src="assets/images/logos/homeSlide8.jpg">
    </div>
  </mat-card>

  <mat-card class="example-card">
    <div class="zoom-container">
      <img src="assets/images/logos/homeSlide2.jpg">
    </div>
  </mat-card>
</div>


<div class="heading">
  <h2>TOP TRENDING</h2>
  <h4 style="color: gray">CHOOSE CATEGORY</h4>
  <mat-divider></mat-divider>
  <div class="h5-container">
    <h5 style="margin-right: 40px">ALL</h5>
    <h5 style="margin-right: 40px">KEYBOARDS</h5>
    <h5 style="margin-right: 40px">GAMING</h5>
    <h5 style="margin-right: 40px">CELLPHONES</h5>
    <h5 style="margin-right: 40px">GADGETS</h5>
  </div>
</div>
<div class="trending-container">
  <mat-card class="example-card" style="width: 250px;height: 350px">
      <img src="assets/images/logos/homeSlide2.jpg" style="width: 250px;height: 450px">
      <p>Electronics</p>
      <p>RedWireless Headphone</p>
      <p>R3000</p>
  </mat-card>

  <mat-card class="example-card" style="width: 250px;height: 350px">
    <img src="assets/images/logos/homeSlide2.jpg" style="width: 250px;height: 450px">
    <p>Electronics</p>
    <p>RedWireless Headphone</p>
    <p>R3000</p>
  </mat-card>

  <mat-card class="example-card" style="width: 250px;height: 350px">
    <img src="assets/images/logos/homeSlide2.jpg" style="width: 250px;height: 450px">
    <p>Electronics</p>
    <p>RedWireless Headphone</p>
    <p>R3000</p>
  </mat-card>

  <mat-card class="example-card" style="width: 250px;height: 350px">
    <img src="assets/images/logos/homeSlide2.jpg" style="width: 250px;height: 450px">
    <p>Electronics</p>
    <p>RedWireless Headphone</p>
    <p>R3000</p>
  </mat-card>
</div>
<div class="trending-container">
  <mat-card class="example-card" style="width: 250px;height: 350px">
    <img src="assets/images/logos/homeSlide2.jpg" style="width: 250px;height: 450px">
    <p>Electronics</p>
    <p>RedWireless Headphone</p>
    <p>R3000</p>
  </mat-card>

  <mat-card class="example-card" style="width: 250px;height: 350px">
    <img src="assets/images/logos/homeSlide2.jpg" style="width: 250px;height: 450px">
    <p>Electronics</p>
    <p>RedWireless Headphone</p>
    <p>R3000</p>
  </mat-card>

  <mat-card class="example-card" style="width: 250px;height: 350px">
    <img src="assets/images/logos/homeSlide2.jpg" style="width: 250px;height: 450px">
    <p>Electronics</p>
    <p>RedWireless Headphone</p>
    <p>R3000</p>
  </mat-card>

  <mat-card class="example-card" style="width: 250px;height: 350px">
    <img src="assets/images/logos/homeSlide2.jpg" style="width: 250px;height: 450px">
    <p>Electronics</p>
    <p>RedWireless Headphone</p>
    <p>R3000</p>
  </mat-card>
</div>
<div class="trending-container">
  <mat-card class="example-card" style="width: 250px;height: 350px">
    <img src="assets/images/logos/homeSlide2.jpg" style="width: 250px;height: 450px">
    <p>Electronics</p>
    <p>RedWireless Headphone</p>
    <p>R3000</p>
  </mat-card>

  <mat-card class="example-card" style="width: 250px;height: 350px">
    <img src="assets/images/logos/homeSlide2.jpg" style="width: 250px;height: 450px">
    <p>Electronics</p>
    <p>RedWireless Headphone</p>
    <p>R3000</p>
  </mat-card>

  <mat-card class="example-card" style="width: 250px;height: 350px">
    <img src="assets/images/logos/homeSlide2.jpg" style="width: 250px;height: 450px">
    <p>Electronics</p>
    <p>RedWireless Headphone</p>
    <p>R3000</p>
  </mat-card>

  <mat-card class="example-card" style="width: 250px;height: 350px">
    <img src="assets/images/logos/homeSlide2.jpg" style="width: 250px;height: 450px">
    <p>Electronics</p>
    <p>RedWireless Headphone</p>
    <p>R3000</p>
  </mat-card>
</div>
<div class="trending-container">
  <mat-card class="example-card" style="width: 250px;height: 350px">
    <img src="assets/images/logos/homeSlide2.jpg" style="width: 250px;height: 450px">
    <p>Electronics</p>
    <p>RedWireless Headphone</p>
    <p>R3000</p>
  </mat-card>

  <mat-card class="example-card" style="width: 250px;height: 350px">
    <img src="assets/images/logos/homeSlide2.jpg" style="width: 250px;height: 450px">
    <p>Electronics</p>
    <p>RedWireless Headphone</p>
    <p>R3000</p>
  </mat-card>

  <mat-card class="example-card" style="width: 250px;height: 350px">
    <img src="assets/images/logos/homeSlide2.jpg" style="width: 250px;height: 450px">
    <p>Electronics</p>
    <p>RedWireless Headphone</p>
    <p>R3000</p>
  </mat-card>

  <mat-card class="example-card" style="width: 250px;height: 350px">
    <img src="assets/images/logos/homeSlide2.jpg" style="width: 250px;height: 450px">
    <p>Electronics</p>
    <p>RedWireless Headphone</p>
    <p>R3000</p>
  </mat-card>
</div>

<div class="heading">
  <h2>DEAL OF THE DAY</h2>
  <h4>BUY DEAL OF THE DAY, HURRY UP! THESE NEW PRODUCTS WILL EXPIRE SOON.
    ADD THESE ON YOUR CART</h4>
</div>
<div class="card-container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p>{{longText}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p>{{longText}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p>{{longText}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p>{{longText}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>

<app-footer></app-footer>
