a.menu-icon {
  margin-right: 8px;
}

.spacer {
  flex: 1 1 auto;
}

/*.spacer {*/
/*  flex: 1;*/
/*}*/

.icon-button {
  margin-left: 8px;
}

.container {
  height: calc(100vh - 64px);
}

.content {
  padding: 16px;
}
.admin-dashboard {
  cursor: pointer;
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}


