/*this space the icons to the right side*/
.spacer {
  flex: 1 1 auto;
}

/*space btw the icons*/
.icon-button {
  margin-left: 8px;
}

.container {
  height: calc(100vh - 64px);
}

.content {
  padding: 16px;
}

.admin-dashboard {
  cursor: pointer;
}




